<div class="wrapper">
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="border-radius: 48px !important;" (click)="goToStatistics()">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div style="text-align:center">
                      <img width="240px" src="assets/img/statistics.png">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <button type="button" class="btn btn-primary btn-round" (click)="goToStatistics()">Statistiques</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div >
        </div>
        <div class="col-md-3">
          <div class="card" style="border-radius: 48px !important;" (click)="goToManageSpecialties()">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div style="text-align:center">
                      <img width="240px" src="assets/img/specialties.png">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <button type="button" class="btn btn-primary btn-round" (click)="goToManageSpecialties()">Gestion Des Filières</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div >
        </div>

        <div class="col-md-3">
          <div class="card" style="border-radius: 48px !important;" (click)="goToManageSpecialties()">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div style="text-align:center">
                      <img width="240px" src="assets/img/teachers.png">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <button type="button" class="btn btn-primary btn-round" (click)="goToManageTeachers()">Gestion des professeurs</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div >
        </div>

        <div class="col-md-3">
          <div class="card" style="border-radius: 48px !important;" (click)="goToManageModules()">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div style="text-align:center">
                      <img width="240px" src="assets/img/modules.png">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <button type="button" class="btn btn-primary btn-round" (click)="goToManageModules()">Gestion Des Modules</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="border-radius: 48px !important;" (click)="goToManageStudents()">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div style="text-align:center">
                      <img width="240px" src="assets/img/students.png">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <button type="button" class="btn btn-primary btn-round" (click)="goToManageStudents()">Gestion Des Etudiants</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card" style="border-radius: 48px !important;" (click)="goToDeliberationsOfS1S1()">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div style="text-align:center">
                      <img width="240px" src="assets/img/deliberations.png">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <button type="button" class="btn btn-primary btn-round" (click)="goToDeliberationsOfS1S1()">Délibérations Par Module</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card" style="border-radius: 48px !important;" (click)="goToDeliberationsOfS1S1()">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div style="text-align:center">
                      <img width="240px" src="assets/img/deliberations.png">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <button type="button" class="btn btn-primary btn-round" (click)="goToDeliberationsOfS1S1()">Délibérations</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
