<div class="wrapper">
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="panel-header panel-header-sm" style="text-align: center">
      <button class="btn btn-round btn-warning" (click)="goToMenu()" style="margin-left:18px; margin-right: 18px">Menu</button>

      <button class="btn btn-round btn-warning" (click)="goToMySpace()" style="margin-right: 18px">
        Mon espace
      </button>
      <button class="btn btn-round btn-warning" (click)="goToAttendance()" style="margin-right: 18px">
        Mes Absences
      </button>
      <button class="btn btn-round btn-success" (click)="goToMyMarks()" style="margin-right: 18px">
        Mes Notes
      </button>
      <button class="btn btn-round btn-warning" (click)="logout()" style="margin-right: 18px">Se déconnecter</button>
      <br><br>
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header" style="text-align: center">

              <!-- Show graph with chart.js of cercle of absent ans pesent student, fill with fake data-->
              <div class="row">
                <div class="col-md-4" style="text-align: center">
                  <canvas id="myChart" width="400" height="400"></canvas>
                </div>
                <div class="col-md-4" style="text-align: center">
                  <canvas id="myChart2" width="400" height="400"></canvas>
                </div>
                <div class="col-md-4" style="text-align: center">
                  <canvas id="myChart3" width="400" height="400"></canvas>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" style="text-align: center">
                  <canvas id="myChart4" width="400" height="400"></canvas>
                </div>
                <div class="col-md-4" style="text-align: center">
                  <canvas id="myChart5" width="400" height="400"></canvas>
                </div>
                <div class="col-md-4" style="text-align: center">
                  <canvas id="myChart6" width="400" height="400"></canvas>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" style="text-align: center">
                  <canvas id="myChart7" width="400" height="400"></canvas>
                </div>
                <div class="col-md-4" style="text-align: center">
                  <canvas id="myChart8" width="400" height="400"></canvas>
                </div>
                <div class="col-md-4" style="text-align: center">
                  <canvas id="myChart9" width="400" height="400"></canvas>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" style="text-align: center">
                  <canvas id="myChart10" width="400" height="400"></canvas>
                </div>
                <div class="col-md-4" style="text-align: center">
                  <canvas id="myChart11" width="400" height="400"></canvas>
                </div>
                <div class="col-md-4" style="text-align: center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
