.p-button-rounded {
  margin-left: 10px;
  background-color: #004b85;
  height: 40px;
  width: 80px;
  padding: 5px;
  color: white;
  border: 0;
}

.p-button-rounded:hover {
  background-color: #015b9f;
}

.etudiants {
  margin:auto;
}
